import 'package:shelf_router/shelf_router.dart';
import '../controllers/{{normalizedName}}_controller.dart';

void setup{{className}}Routes(Router app, String basePath) {
  final group = Router()
    ..get('/', {{className}}Controller.list)
    ..get('/lookups/<fieldKey>', {{className}}Controller.lookup)
    ..get('/<id>', {{className}}Controller.show)
    ..get('/<id>/attachments/<fieldKey>', {{className}}Controller.attachments)
    ..post('/<id>/attachments/<fieldKey>', {{className}}Controller.createAttachment)
    ..delete('/<id>/attachments/<fieldKey>/<ordinal>', {{className}}Controller.deleteAttachment)
    ..post('/', {{className}}Controller.create)
    ..put('/<id>', {{className}}Controller.update)
    ..delete('/<id>', {{className}}Controller.delete);

  app.mount('$basePath/{{routeName}}', group.call);
}
