name: {{packageName}}_backend
publish_to: none

environment:
  sdk: ^3.6.2

dependencies:
  {{packageName}}_core:
    path: ../core
  shelf: ^1.4.2
  shelf_router: ^1.1.4
  eloquent: ^3.4.3
  get_it: ^7.7.0
  args: ^2.5.0
