import 'package:{{corePackageName}}_core/core.dart';

import '../repositories/{{normalizedName}}_repository.dart';

class {{className}}Service {
  static const resourcePath = '/api/v1/{{routeName}}';

  final {{className}}Repository repository;

  {{className}}Service(this.repository);

  Future<List<Map<String, dynamic>>> all() {
    return repository.all();
  }

  Future<List<Map<String, dynamic>>> lookupOptions(
    String fieldKey, {
    int limit = 100,
  }) {
    switch (fieldKey) {
{{{lookupCases}}}
      default:
        throw StateError('Lookup nao suportado para o campo: $fieldKey');
    }
  }

  Future<Map<String, dynamic>?> findById({{primaryKeyParamType}} id) {
    return repository.findById(id);
  }

  Future<Map<String, dynamic>?> create({{className}} item) async {
    final insertedId = await repository.insert(item);
    if (insertedId == null) {
      return null;
    }
    return repository.findById(insertedId);
  }

  Future<Map<String, dynamic>?> update({{primaryKeyParamType}} id, {{className}} item) async {
    await repository.update(id, item);
    return repository.findById(id);
  }

  Future<void> delete({{primaryKeyParamType}} id) {
    return repository.delete(id);
  }
}
