class {{className}} {
{{#constants}}
  static const {{constantName}} = '{{runtimeName}}';
{{/constants}}

{{#fields}}
  final {{dartType}} {{fieldName}};
{{/fields}}

  const {{className}}({
{{#constructorArgs}}
    this.{{fieldName}},
{{/constructorArgs}}
  });

  static Map<String, dynamic> defaultValues() {
    return <String, dynamic>{
{{#defaultEntries}}
      {{constantName}}: {{{expression}}},
{{/defaultEntries}}
    };
  }

  factory {{className}}.withDefaults() {
    return {{className}}.fromMap(defaultValues());
  }

{{#defaultHelperMethods}}
  {{{.}}}

{{/defaultHelperMethods}}

  factory {{className}}.fromMap(Map<String, dynamic> map) {
    return {{className}}(
{{#fromMapAssignments}}
      {{fieldName}}: {{{expression}}},
{{/fromMapAssignments}}
    );
  }

  Map<String, dynamic> toMap() {
    final map = <String, dynamic>{
{{#toMapEntries}}
  {{constantName}}: {{{expression}}},
{{/toMapEntries}}
    };
{{{idWriteBackBlock}}}    return map;
  }
}
